<section class="reviews-section">
  <div class="title-wrapper">
    <span class="highlight-blue">+ 1200 CLIENTS</span>
    <span class="highlight-green">SATISFAITS</span>
  </div>

  <div class="cards-container">
    @for (review of reviews(); track review.name) {
      <div class="review-card">

        <div class="avatar-wrapper">
          <img [src]="review.image" [alt]="review.name" class="avatar-img">
        </div>

        <div class="stars-wrapper">
          <img src="/assets/images/stars.png" alt="5 étoiles" class="stars-img">
        </div>

        <p class="review-text">{{ review.avis }}</p>
        <p class="review-author">{{ review.name }}</p>

      </div>
    }
  </div>
</section>
