<div class="email-container">
  <div class="banner-container-secondary">
    <h3>ENVIE DE TOUT SAVOIR ?</h3>
  </div>
  <div class="content-container">
    <div class="banner-container">
      <h3>ENVIE DE TOUT SAVOIR ?</h3>
    </div>
    <div class="text-container">
      <p>INSCRIS-TOI pour recevoir toutes nos ACTUALITÉS</p>
      <p>et connaître toutes les NOUVEAUTÉS de notre APPLICATION !</p>
    </div>
    <a class="input-container"
       href="https://c1020106.sibforms.com/serve/MUIFAPCu8l9auir9gfCkLC5J0P0Mxj8KhfZ67iKAc2LnMz7BXxGM_c_jsIyHtnsNJBq6CJ8ZdY2El0-p6nEhayeC1hFc7uRilk0KUJVj3l_l7WBFdoyNKlJbYaux9c2MEM6-RkODXtF3QKfKEj4uVIZB-7PjNvHorEYZUetyaJGlRyjlX0pxWj82chrO3PbomQVHxEZk6PA2wBY6">
      <p>J'inscris ici mon adresse mail</p>
      <button>C'est parti !</button>
    </a>
  </div>
</div>
