<div class="step-container">
  <h1>ES-TU INTÉRESSÉ PAR LE CRÉDIT D'IMPÔT IMMÉDIAT ?</h1>
  <p class="subtitle">Certaines activités permettent à tes clients de bénéficier d'un crédit d'impôt immédiat*.</p>

  <div class="actions-column">
    <button class="btn-primary" (click)="selectOption(true)">
      Oui j'en ai besoin pour mon activité
    </button>

    <button class="btn-outline" (click)="selectOption(false)">
      Non je n'en ai pas besoin merci
    </button>
  </div>

  <div class="info-link">
<!--    <p>Si tu as besoin d'informations sur le crédit d'impôt immédiat, <a (click)="openInfo()">clique ici</a></p>-->
    <p>Crédit d'impôt immédiat* permet à vos clients particuliers de ne payer que 50% de la facture instantanément.</p>
  </div>
</div>
