<div class="landing-container">
  <div class="green-section-container">
    <section class="hero-container">
      <div class="hero-content">
        <div class="left-column">
          <h1 class="main-title">
            <span class="highlight-blue">L'OUTIL TOUT-EN-UN</span>
            <span class="highlight-white">DES INDÉPENDANTS</span>
          </h1>

          <div class="features-wrapper">
            <img src="/assets/images/8.png" alt="Chronomètre" class="floating-stopwatch">

            <div class="pills-container">
              <div class="pill">CRÉE TES FACTURES</div>
              <div class="pill">À PLUSIEURS</div>
              <div class="pill">EN MOINS DE 20 SECONDES</div>
            </div>
          </div>
        </div>

          <div class="right-column">
            @if(screenSize > 1200 || (screenSize < 800 && screenSize > 600)){
              <img src="/assets/images/9.png" alt="Application Moze sur mobile" class="phone-hand-img">
            }
          </div>

      </div>
    </section>
  </div>

  <section class="animated-text-banner">
    <div class="track">

      <div class="content">
        <span class="item">COLLABORER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">FACTURER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">CONNECTER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">COLLABORER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">FACTURER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">CONNECTER <img src="assets/icons/bolt.svg" alt=""></span>
      </div>

      <div class="content">
        <span class="item">COLLABORER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">FACTURER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">CONNECTER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">COLLABORER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">FACTURER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">CONNECTER <img src="assets/icons/bolt.svg" alt=""></span>
      </div>

      <div class="content">
        <span class="item">COLLABORER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">FACTURER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">CONNECTER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">COLLABORER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">FACTURER <img src="assets/icons/bolt.svg" alt=""></span>
        <span class="item">CONNECTER <img src="assets/icons/bolt.svg" alt=""></span>
      </div>

    </div>
  </section>
</div>
