<div class="tarif-container">
  <div class="banner-header">
  <h3>UNE OFFRE SIMPLIFIÉE</h3>
</div>
  <div class="tarif-cards-container">
    <div class="indep-container">
      <div class="icon-container">
        <img src="/assets/images/6.png" alt="rocket" class="icons rocket">
      </div>
      <div class="tile indep">
        <div class="banner-tile indep-banner">INDÉP +</div>
        <div class="price">
          <p class="number">9.90€</p>
          <p>/ mois</p>
        </div>
        <div class="text-container">
          <p><span>FACTURATION</span> éléctronique conforme</p>
          <p>Facturer seul ou à <span>PLUSIEURS</span></p>
          <p><span>DÉVELOPPER</span> son réseau</p>
        </div>
      </div>
    </div>
    <div class="coop-container">
      <div class="tile coop">
        <div class="banner-tile coop-banner">COOP</div>
        <div class="price">
          <p class="number">+ 20€</p>
          <p>/ mois</p>
        </div>
        <div class="text-container">
          <p>Accès au n°SAP <span class="span-coop">SANS EXCLUSIVITÉ</span></p>
          <p>Cadre <span class="span-coop">SÉCURISÉ</span> et conforme</p>
          <p><span class="span-coop">DÉVELOPPER</span> son activité</p>
        </div>
      </div>
      <div class="icon-container">
        <img src="/assets/images/7.png" alt="hands" class="icons hands">
      </div>
    </div>
  </div>
  <div class="inscription-container">
    <button (click)="redirect()">Je m'inscris !</button>
  </div>
</div>
