<div class="tool-container">
  <div class="banner-header">
    <h3>BIEN + QU'UN OUTIL DE FACTURATION</h3>
  </div>

  <div class="tiles-container">
    <div class="tile tile-fact">
      <img src="assets/images/3.png" alt="fact-icons" class="icons fact-icons">
      <div class="tile-content">
        <div class="banner-container">
          <div class="banner-accent">
            <p>FACTURE</p>
          </div>
          <div class="banner-secondary">
            <p>À PLUSIEURS</p>
          </div>
        </div>
        <div class="text">
          <p><span class="span-background">COLLABORE</span> à plusieurs sur</p>
          <p><span class="span-color">UN MÊME</span> projet, sans</p>
          <p>bricoler et en toute</p>
          <p><span class="span-color">LÉGALITÉ !</span></p>
        </div>
      </div>
    </div>
    <div class="tile tile-connect">
      <img src="assets/images/4.png" alt="connect-icons" class="icons connect-icons">
      <div class="tile-content">
        <div class="banner-container">
          <div class="banner-accent">
            <p>CONNECTE-TOI</p>
          </div>
          <div class="banner-secondary">
            <p>AUX INDÉPENDANTS</p>
          </div>
        </div>
        <div class="text">
          <p>Avec notre plateforme de</p>
          <p><span class="span-background">RÉSEAU SOCIAL</span> échange</p>
          <p>avec les autres <span class="span-color">MOZEURS</span> et</p>
          <p>crée ton <span class="span-color">PROPRE RÉSEAU</span></p>
          <p>en ligne</p>
        </div>
      </div>
    </div>
    <div class="tile tile-incomes">
      <img src="assets/images/5.png" alt="incomes-icons" class="icons incomes-icons">
      <div class="tile-content">
        <div class="banner-container">
          <div class="banner-accent">
            <p>AUGMENTE</p>
          </div>
          <div class="banner-secondary">
            <p>TES REVENUS</p>
          </div>
        </div>
        <div class="text">
          <p>Decouvre un sytème</p>
          <p>d'<span class="span-background">APPORT D'AFFAIRES</span></p>
          <p>directement dans notre</p>
          <p>outil. <span class="span-color">RECOMMANDE</span>, mets</p>
          <p>en <span class="span-color">RELATION</span>, crée des</p>
          <p>opportunités business</p>
          <p><span class="span-color">SIMPLEMENT</span>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
