<div class="step-container animate-fade-in">

  <div class="header-text">
    <h1>TRAVAILLES-TU AVEC UN NUMÉRO SAP ?</h1>
    <p class="subtitle">Certaines activité nécessitent un numéro SAP pour la facturation. Cela permet également de bénéficier d'un crédit d'impôt.</p>
  </div>

  <div class="options-list">
    <button class="option-item" (click)="selectOption(true)">
      <div class="circle"></div>
      <span class="label">Oui, j'ai besoin d'un numéro SAP pour mon activité</span>
    </button>

    <button class="option-item" (click)="selectOption(false)">
      <div class="circle"></div>
      <span class="label">Non, je n'en ai pas besoin merci</span>
    </button>
  </div>

</div>
