<div class="page-container">

  <app-header></app-header>
  <main>
    <app-landing-section id="main-content"></app-landing-section>

    @defer (on idle) {
      <app-activity-steps></app-activity-steps>
    }

    @defer (on idle) {
      <app-tool></app-tool>
    }

    @defer (on idle) {
      <app-media-press></app-media-press>
    }

    @defer (on idle) {
      <app-customer-reviews></app-customer-reviews>
    }

    @defer (on idle) {
      <app-tarif></app-tarif>
    }

    @defer (on idle) {
      <app-faq></app-faq>
    }

    @defer (on idle) {
      <app-download-apps></app-download-apps>
    }

    @defer (on idle) {
      <app-email></app-email>
    }
  </main>

  @defer (on idle) {
    <app-footer></app-footer>
  }
</div>
