<div class="step-container">
  <div class="content-wrapper">
    <h1>DÉCOUVRE TA NOUVELLE OFFRE</h1>
    <p class="subtitle">Tu as fait le bon choix ! Avec ça la gestion de ton entreprise deviendra fluide.</p>

    <div class="offer-visual desktop-only animate-pop">
      @if (isCoop()) {
        <img src="assets/images/tunnel/COOP.png" alt="Offre Coopérative" class="card-img coop">
      } @else {
        <img src="assets/images/tunnel/INDEP +.png" alt="Offre Indépendant" class="card-img indep">
      }
    </div>

    <div class="offer-cards mobile-only animate-pop">

      <div class="moze-card indep-card">
        <div class="card-badge badge-green">INDÉP +</div>
        <div class="price">9,90€<br><span>/mois</span></div>
        <ul class="features">
          <li><span class="hl-green">FACTURATION</span> électronique conforme</li>
          <li>Facturer seul ou à <span class="hl-green">PLUSIEURS</span></li>
          <li>Développer son <span class="hl-green">RÉSEAU</span></li>
        </ul>
      </div>

      @if (isCoop()) {
        <div class="plus-circle">+</div>
        <div class="moze-card coop-card">
          <div class="card-badge badge-blue">COOP</div>
          <div class="price">+20€<br><span>/mois</span></div>
          <ul class="features">
            <li>Accès au n°SAP<br> <span class="hl-blue">SANS EXCLUSIVITÉ</span></li>
            <li>Cadre <span class="hl-blue">SÉCURISÉ</span> et conforme</li>
            <li><span class="hl-blue">DÉVELOPPER</span> son activité</li>
          </ul>
        </div>
      }
    </div>

    <button class="cta-btn" (click)="register()">
      JE DEVIENS MOZEUR !
    </button>
  </div>
</div>
