.footer-container{
  width: 100vw;
  background: var(--primary-color);

  position: relative;
  bottom: 0;
  left: 0;
}

.footer-color{
  background: var(--background-color);
  border-radius: 3rem 3rem 0 0;
  width: 100%;
  padding: 2rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-container{
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  color: var(--background-color);
  font-weight: bold;
  border-radius: 3rem;

  & button{
    background: var(--accent-color);
    color: var(--primary-color);
    height: 3rem;
    border-radius: 2rem;
    padding: 0 3rem;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.3s cubic-bezier(0.15, 0.85, 0.45, 1.4);
    cursor: pointer;
  }

  & button:hover{
    transform: scale(1.05);
  }
}

.text-address{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.links-credit-container{
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
  justify-content: center;
  font-weight: bold;
  font-size: clamp(1rem, 0.9091rem + 0.2424vw, 1.2rem);

  & p{
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.15, 0.85, 0.45, 1.4);
  }

  & p:hover{
    color: var(--interaction-color);
  }
}

.credits{
  color: var(--primary-color);
  font-size: .8rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .footer-color{
    padding: 2rem 4rem;
  }
}

@media (max-width: 800px) {
  .footer-color{
    padding: 2rem 1rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
  }

  .contact-container{
    width: calc(100vw - 2rem);
  }
}
