<div class="footer-container">
  <div class="footer-color">
    <div class="contact-container">
      <button>Nous contacter</button>
      <div class="text-address">
        <p>Creativa, 84000 Avignon</p>
        <p>contact&#64;moze.fr</p>
      </div>
    </div>
    <div class="links-credit-container">
      <div class="links">
        <p (click)="confidentialite()">Politique de confidentialité</p>
        <p (click)="mention()">Mentions légales</p>
        <p (click)="cgv()">CGV / CGU</p>
        <p (click)="auto()">L'essentiel du statut auto-entrepreneur</p>
      </div>
      <div class="credits">
        <p>Designé avec ❤️ par Madame C.</p>
      </div>
    </div>
  </div>
</div>
