<div class="funnel-container">
  <header class="funnel-header">

    <div class="header-right">
      <img src="assets/icons/MozeLogo.svg" alt="MOZE" (click)="goHome()" class="logo" width="140" height="35">
    </div>

    <div class="header-left">
      @if (fs.currentStep() > 1) {
        <button (click)="fs.previousStep()" class="back-btn">
          <img src="assets/icons/arrow.svg" class="back-icon" alt="" aria-hidden="true" width="16" height="16">
          Retour
        </button>
      }
    </div>
  </header>

  <main class="step-content">
    @if (fs.currentStep() === 1) {
      @defer (on immediate) { <app-sector-step /> }
    }
    @if (fs.currentStep() === 2) {
      @defer (on immediate) { <app-sap-step /> }
    }
    @if (fs.currentStep() === 3) {
      @defer (on immediate) { <app-interstitial-step /> }
    }
    @if (fs.currentStep() === 4) {
      @defer (on immediate) { <app-redirect-step /> }
    }
  </main>
</div>
