<div class="confirmation-container">
  <header class="header">
    <a routerLink="/">
      <img class="logo" src="assets/icons/MozeLogo.svg" alt="logo-moze" width="140" height="35">
    </a>
  </header>

  <main class="main-content">
    <div class="title-section">
      <div class="title-banner dark-blue">BONNE</div>
      <div class="title-banner light-green">NOUVELLE !</div>
    </div>

    <h1 class="subtitle">
      TON INSCRIPTION EST <span class="highlight">CONFIRMÉE</span>
    </h1>
    <p class="description">Bravo tu as désormais rejoins le club des indépendants structurés !</p>

    <div class="action-banner">
      PAR QUOI SOUHAITES-TU COMMENCER ?
    </div>

    <div class="cards-container">
      <a [routerLink]="['/redirection']" [queryParams]="{cible: 'devis'}" class="action-card">
        <div class="icon-placeholder"><img src="assets/images/tunnel/FACTURE.png" alt="" width="80" height="80"></div>
        <h2>JE VEUX FAIRE<br>MA PREMIÈRE FACTURE</h2>
      </a>

      <a [routerLink]="['/redirection']" [queryParams]="{cible: 'profil'}" class="action-card">
        <div class="icon-placeholder"><img src="assets/images/tunnel/PROFIL.png" alt="" width="80" height="80"></div>
        <h2>JE VEUX COMPLÉTER<br>MON PROFIL</h2>
      </a>

      <a [routerLink]="['/redirection']" [queryParams]="{cible: 'dashboard'}" class="action-card">
        <div class="icon-placeholder"><img src="assets/images/tunnel/LOUPE.png" alt="" width="80" height="80"></div>
        <h2>JE VEUX EXPLORER<br>LA PLATEFORME</h2>
      </a>
    </div>
  </main>
</div>
